/* #region */
.wrapper {
  width: 800px;
  /* min-height: 600px; */
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;

  list-style-type: none;
  border-radius: 10px;
  background-color: lightgreen;
  outline: 5px solid rgb(75, 167, 75);
  outline-offset: -5px;
  padding: 0;
}

.item {
  width: 150px;
  height: 150px;
  font-size: 64px;
  line-height: 150px;
  color: white;
  text-align: center;
  border-radius: 10px;
  background-color: slateblue;
  outline: 5px solid rgb(45, 35, 125);
  outline-offset: -5px;
}
/* #endregion */

/*=====================================*\
  FLEX BOX
\*=====================================*/
:root {
  --items: 4;
  --indent-col: 23px;
  --indent-row: var(--indent-col);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-row);
  column-gap: var(--indent-col);

  /* Default prop: */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* align-content: stretch; */
  /* flex-wrap: nowrap; */
  outline: 0;
}
.item {
  width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
  /* margin-right: 66px;
  margin-bottom: 20px; */
}
/* .item:first-child {
  background-color: tomato;
}
.item:last-child {
  background-color: teal;
} */
/* a * n + b */
/* .item:nth-child(4n) {
  margin-right: 0;
}
.item:nth-last-child(-n + 4) {
  margin-bottom: 0;
} */

/* DRY */

.clients {
  --items: 3;
  --indent-col: 50px;

  background-color: lightblue;
}
.reviews {
  --items: 5;
  --indent-col: 8px;

  background-color: darkmagenta;
}
